<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="temp/thymeleaf_layout">

<head>
    <meta charset="UTF-8">
    <title>cscenter</title>
    <link rel="stylesheet" th:href="@{/css/cscenter/cscenter.css}">
</head>

<th:block layout:fragment="content">
    <div class="flex w-100 justify_content_center">
        <div class="w-80">
            <div class="grid">
                <div class="m-t-10">
                    <h1 class="m-t-20">고객센터 안내사항</h1>
                    <div class="grid m-t-10">
                        <div>[공지] < 개인정보 처리방침 > 변경 안내 </div>
                        <div>[안내] 문의 답변 문자 전송 방식 안내 </div>
                        <div>[북적북적] 도서 구매 포인트 적립 변경 안내 </div>
                    </div>
                </div>

                <div class="m-t-30">
                    <h1>자주 묻는 질문</h1>
                    <div class="flex m-t-10">
                        <div class="w-30 m-r-30">
                            <strong>현금 영수증 신청 방법</strong>
                            <div >현금 영수증은 각 결제 수단에 따라 결제 대행사의 사이트 또는 리디북스 홈페이지의 결제내역에서 신청하실 수 있습니다. 결제수단 별 현금영수증 발행 (일반 영수증, 신용카드 매...</div>
                        </div>
                        <div class="w-30 m-r-30">
                            <strong>결제 수단별 결제 오류 해결 방법 </strong>
                            <div >우선 모바일 기기에서 결제가 정상 진행되지 않는 경우에는 아래 안내 페이지를 참고하셔서 인터넷 설정 확인 후 재시도를 부탁드립니다. 모바일 기기에서 결제가 안돼요.  안내 보... FAQ 바로가기</div>
                        </div>
                        <div class="w-30">
                            <strong>도서 환불 / 취소 방법</strong>
                            <div >결제 취소 및 환불은 다운로드 또는 스트리밍으로 이용하지 않는 경우에만 가능합니다. 책을 다운로드  (다운로드 시작, 다운로드 시도 포함) 하지 않았거나 웹툰/웹소설 도서의...</div>
                        </div>
                    </div>
                </div>

                <div class="m-t-30">
                    <h1 >고객 문의</h1>
                    <ul class="w-100">
                        <li class="flex  justify_space_between">
                            <a href="문의창">
                                <div>
                                    <img class="icon_size_0808" src="//theme.zdassets.com/theme_assets/1696093/3b864dc10546e00d06426adf9539e5fb863d3eaa.png">
                                    <h4>1:1 문의</h4>
                                </div>
                            </a>
                            <a href="bkk@naver.com">
                                <div>
                                    <img class="icon_size_0808" src="//theme.zdassets.com/theme_assets/1696093/1b8da1044f963cc5c4aa4e647cee8327e0e92e01.png">
                                    <h4>이메일 문의</h4>
                                </div>
                            </a>
                            <a href="상담창">
                                <div>
                                    <img class="icon_size_0808" src="//theme.zdassets.com/theme_assets/1696093/5765ed48513a06d495fd00fb1945c103a8e6b016.png">
                                    <h4>채팅 상담</h4>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/cscenter/cscenter.js"></script>

</th:block>


