<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="temp/thymeleaf_layout">

<head>
    <meta charset="UTF-8">
    <title>cscenter</title>
    <link rel="stylesheet" th:href="@{/css/cscenter/cscenter.css}">
</head>

<th:block layout:fragment="content">
    <div class="cscenter">
        <div class="notice container-lg px-4 py-4">
            <h3 class="m-t-20 pb-2 border-bottom">고객센터 안내사항</h3>
            <div class="noticeboardtable flex-direc-column row g-2 py-3 row-cols-lg-3">
                <table class="table table-hover">
                    <thead>
                    <tr class="notice">
                        <th>번호</th>
                        <th>제목</th>
                        <th>작성일</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--공지리스트 만들어지는 부분-->
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="/js/cscenter/cscenter.js"></script>

</th:block>


