<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="temp/thymeleaf_layout">
<head>
    <meta charset="UTF-8">
    <title>FaQ</title>
    <link rel="stylesheet" th:href="@{/css/cscenter/cscenter.css}">
</head>
<th:block layout:fragment="content">
    <div>
        <div>[<span th:text="${item.notice_type}"></span>]</div>
        <div class="flex justify_space_between">
            <strong th:text="${item.notice_title}"></strong>
            <span th:text="${item.notice_rdt}"></span>
        </div>
        <hr>
        <pre th:text="${item.notice_ctnt}"></pre>
    </div>

    <script src="/js/cscenter/cscenter.js"></script>
</th:block>

