<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="temp/thymeleaf_layout">
<head>
    <meta charset="UTF-8">
    <title>FaQ</title>
    <link rel="stylesheet" th:href="@{/css/cscenter/cscenter.css}">
</head>
<th:block layout:fragment="content">
    <div class="center">
        <div class="w-80 m-t-50">
            <div class=" flex-direc-column center notice_table ">
                <table>
                    <colgroup>
                        <col width="20%">
                        <col width="80%">
                    </colgroup>
                    <tbody>
                        <tr>
                            <th class="p-10 text_center color_blue">제목</th>
                            <td class="p-lr-20"><strong th:text="${item.notice_title}"></strong></td>
                        </tr>
                        <tr>
                            <th class="p-10 text_center color_blue">작성일</th>
                            <td class="p-lr-20 color_grey"><span th:text="${item.notice_rdt}"></span></td>
                        </tr>
                    </tbody>
                </table>
                <hr>
                <pre th:text="${item.notice_ctnt}" class="width900p"></pre>
            </div>
        </div>
    </div>

    <script src="/js/cscenter/cscenter.js"></script>
</th:block>

