.border_box {
    padding: 80px;
    border:solid 2px black;
}

.btn_login {
    display: block;
    width: 100%;
    padding: 17px 0 15px;
    border-radius: 6px;
    border: solid 1px rgba(0,0,0,.15);
    background-color:cornflowerblue;
}



.panel_wrap {
    position: relative;
    z-index: 3;
    margin-top: -8px;
}

ul, li {
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: none;
    font-family: -apple-system,BlinkMacSystemFont,helvetica,"Apple SD Gothic Neo",sans-serif;
}





.id_pw_wrap .input_row:first-child {
    border-radius: 6px 6px 0 0;
    box-shadow: none;
}

.id_pw_wrap .input_row:last-child {
    border-radius: 0 0 6px 6px;
}

.id_pw_wrap .input_row {
    display: table;
    table-layout: fixed;
    width: 400px;
}

.id_pw_wrap .input_row .icon_cell {
    display: table-cell;
    width: 26px;
    vertical-align: middle;
}

.id_pw_wrap .input_row .icon_cell .icon_id, .id_pw_wrap .input_row .icon_cell .icon_pw {
    position: absolute;
    top: 50%;
    left: 18px;
    margin-top: -10px;
    background-position: -206px -141px;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}


.input_row {
    background-color: white;
    position: relative;
    display: block;
    height: 100%;
    border: 1px solid #dadada;
    padding: 17px 18px 17px 19px;
    border-radius: 6px;
    box-sizing: border-box;
    text-align: left;
    box-shadow: 0 2px 6px 0 rgb(68 68 68 / 8%);
}

.input_text {
    border: none;
    position: relative;
    display: block;
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #222;
    box-sizing: border-box;
    z-index: 4;
}

.icon_delete {
    background-image: url(https://ssl.pstatic.net/static/nid/login/m_sp_01_login_2d02c3e8.png);
    background-size: 229px 196px;
    background-repeat: no-repeat;
}

.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

.id_pw_wrap .input_row .icon_cell {
    display: table-cell;
    width: 26px;
    vertical-align: middle;
}