/*서브메뉴 부분*/
.mypage_menu {margin-bottom: 30px; margin-left: 10px; font-weight: bold;}

.mypage_submenu_item {margin-left: 10px; font-weight:normal;}
.mypage_color { background-color: #a4b0be;}


/*구매내역 테이블*/
table { width: 90%;}
table, td, th { border: 1px solid #262626; border-collapse: collapse; }
th { text-align: center;}
table td:not(:nth-child(2)){ text-align: center;}
table td:nth-child(2) {text-align: left;  vertical-align: middle;}

.ph_img_size { width: 80px; height: 100px; }

.pcHistory_head{
    text-align: center;
    background: #b1bac4;
    border: 1px solid #000;
    border-left: 0;
    border-right: 0;
    height: 41px;
    line-height: 40px;
}


/*회원 정보 변경*/

.text_box{
    display: block;
    position: relative;
    width: 100%;
    height: 51px;
    border: solid 1px #494949;
    box-sizing: border-box;
    padding-left: 10px;
}

.btn{
    display: block;
    position: relative;
    width: 100px;
    height: 51px;
    border-radius: 0;
    border: solid 1px #494949;
    box-sizing: border-box;
    background-color: #2f3542;
    color: white;
    padding-left: 10px;
}
.btn:hover { color: #8f8f8f;}



.changeinfo_head{
    text-align: center;
    background: #b1bac4;
    border: 1px solid #000;
    border-left: 0;
    border-right: 0;
    height: 41px;
    line-height: 40px;
}

.change_btn{
    display: block;
    width: 30%;
    padding: 17px 0 15px;
    border-radius: 6px;
    border: solid 1px rgba(0,0,0,.15);
    background-color:#747d8c;
    margin-top: 20px;
}

/*비밀번호 변경*/
.changepw_head{
    text-align: center;
    background: #b1bac4;
    border: 1px solid #000;
    border-left: 0;
    border-right: 0;
    height: 41px;
    line-height: 40px;
}

/*회원 탈퇴*/

.leave_head{
    text-align: center;
    background: #b1bac4;
    border: 1px solid #000;
    border-left: 0;
    border-right: 0;
    height: 41px;
    line-height: 40px;
}

.leave_btn{
    display: block;
    width: 150px;
    padding: 17px 0 15px;
    border-radius: 6px;
    border: solid 1px rgba(0,0,0,.15);
    background-color:#747d8c;
    margin-top: 20px;
}




