/*서브메뉴 부분*/
.mypage_menu {margin-bottom: 30px; margin-left: 10px; font-weight: bold;}

.mypage_submenu_item {margin-left: 10px; font-weight:normal;}


/*구매내역 테이블*/
table, td, th { border: 1px solid #262626; border-collapse: collapse; width: 900px; }
table td:not(:first-child) { text-align: center;}
table td:first-child{text-align: left;  vertical-align: middle;}

.ph_img_size { width: 80px; height: 100px; }



/*회원 정보 변경*/

.text_box{
    display: block;
    position: relative;
    width: 100%;
    height: 51px;
    border: solid 1px #494949;
    box-sizing: border-box;
    padding-left: 10px;
}

.changeinfo_head{
    text-align: center;
    background: #b1bac4;
    border: 1px solid #000;
    border-left: 0;
    border-right: 0;
    height: 41px;
    line-height: 40px;
}

.change_btn{
    display: block;
    width: 30%;
    padding: 17px 0 15px;
    border-radius: 6px;
    border: solid 1px rgba(0,0,0,.15);
    background-color:cornflowerblue;
    margin-top: 20px;
}

/*비밀번호 변경*/
.changepw_head{
    text-align: center;
    background: #b1bac4;
    border: 1px solid #000;
    border-left: 0;
    border-right: 0;
    height: 41px;
    line-height: 40px;
}

/*회원 탈퇴*/

.leave_head{
    text-align: center;
    background: #b1bac4;
    border: 1px solid #000;
    border-left: 0;
    border-right: 0;
    height: 41px;
    line-height: 40px;
}

.leave_btn{
    display: block;
    width: 150px;
    padding: 17px 0 15px;
    border-radius: 6px;
    border: solid 1px rgba(0,0,0,.15);
    background-color:cornflowerblue;
    margin-top: 20px;
}

