<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="user/thymeleaf_userlayout">

<head>
    <title></title>
    <link rel="stylesheet" th:href="@{/css/user/mypage.css}">
    <script defer th:src="@{/js/user/mypage.js}"></script>
</head>

<th:block layout:fragment="userContent">

        <!--서브메뉴 아이템 클릭시 마이페이지 디테일창-->
        <div class="flex center back_color_purple h-100">
            <div class="width500p">
                <div class="changeinfo_head m-b-30">회원 정보 수정</div>

                <div class="m-t-10"><b>아이디</b></div>
                <div><input type="text" readonly th:value="${@utils.getLoginUser().getUid()}" class="text_box back_color_grey4"></div>

                <div class="m-t-10"><b>이름</b></div>
                <div><input type="text" readonly th:value="${@utils.getLoginUser().getNm()}" class="text_box back_color_grey4"></div>


                <div class="m-t-10"><b>생년월일</b></div>
                <div><input type="text" readonly th:value="${@utils.getLoginUser().getBirth()}" class="text_box back_color_grey4"></div>


                <div class="m-t-10"><b>휴대폰번호</b></div>
                <div><input type="text" th:value="${@utils.getLoginUser().getPh()}" class="text_box"></div>

                <div class="m-t-10"><b>이메일</b></div>
                <div><input type="text" th:value="${@utils.getLoginUser().getEmail()}" class="text_box"></div>

                <div class="m-t-10"><b>주소</b></div>
                <div><input type="text" th:value="${@utils.getLoginUser().getAddr()}" class="text_box"></div>

                <div class="flex justify_flex_end"><input type="button" value="변경하기" class="change_btn"></div>
            </div>
        </div>


</th:block>