<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="temp/loginjoin_layout">

<head>
    <title>회원가입</title>
    <link rel="stylesheet" th:href="@{/css/user/join.css}">
    <!--AT{}는 Standard URL이라고 한다. -->
    <script defer th:src="@{/js/user/join.js}"></script>
</head>

<th:block layout:fragment="userContent">

    <form th:action="@{/user/join}" method="post" id="join-frm" th:object="${entity}" class="back_color_grey3">
        <div class="flex center">
            <div>
                <a href="/main"><img th:src="@{/upload/images/logo.png}" class="main_logo"></a>
            </div>
        </div>

        <div class="grid center">
            <div class="width500p">
            <h4>이름</h4>
            <div><input type="text" th:field="*{nm}" maxlength="15" placeholder="15자 이내로 입력해주세요." class="ps_box"></div>

            <h4>생년월일/성별</h4>
            <div class="flex">
                <input type="text" th:field="*{birth}" maxlength="8" placeholder="8자리 입력(예.19960101)" class="m-r-10 ps_box">

                <select th:field="*{gender}" class="ps_box gender">
                    <option th:value="3">성별 선택안함</option>
                    <option th:value="1">여자</option>
                    <option th:value="2">남자</option>
                </select>
            </div>

            <h4>휴대폰 번호</h4>
            <div><input type="text" th:field="*{ph}" maxlength="12" placeholder="-없이 입력해 주세요." class="ps_box"></div>

            <h4>아이디</h4>
            <div><input type="text"  th:field="*{uid}" maxlength="10" placeholder="영소문자/숫자 5~10자리" class="ps_box"></div>
            <div><input type="button" value="아이디 중복 체크" id="id-btn-chk"><span id="id-chk-msg"></span></div>

            <h4>비밀번호</h4>
            <div><input type="password" th:field="*{upw}" maxlength="15" placeholder="영문자/숫자/특수문자 조합 8~15자리(대소문자 구분)" class="ps_box"></div>
            <div><input type="password" maxlength="15" placeholder="비밀번호 확인" id="upw-chk" class="ps_box"></div>

            <h4>주소</h4>
            <div><input type="text" th:field="*{addr}" class="ps_box"></div>

            <h4>이메일</h4>
            <div class="colorblue">※비밀번호 분실 시 임시 비밀번호가 이메일로 발송됩니다.</div>
            <div class="flex">
                <input type="text" th:field="*{email}" class="ps_box m-r-5">
                <div class="larger m-r-5">@</div>
                <input type="text" class="ps_box m-r-5">

                <!--            이메일 인풋 두개를 자바스크립트로 연결하여 처리하는 과정을 알아보아야 할것같슴다-->

                <select name="이메일" class="ps_box">
                    <option value="select">선택</option>
                    <option value="">naver.com</option>
                    <option value="">daum.net</option>
                    <option value="">google.com</option>
                    <option value="">nate.com</option>
                    <option value="">hanmail.net</option>
                </select>
            </div>


            <div>
                E-mail 수신에 동의하시겠습니까?
                <input type="radio">예
                <input type="radio">아니오
            </div>

            <div class="flex justify_flex_end align_items_center">
                <input type="submit" value="회원가입 완료" class="p-10 join_btn_color"></a>
            </div>

        </div>
        </div>
    </form>
</th:block>