<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="temp/thymeleaf_layout">

<head>
    <title>회원가입</title>
    <link rel="stylesheet" th:href="@{/css/user/join.css}">
    <!--AT{}는 Standard URL이라고 한다. -->
    <script defer th:src="@{/js/user/join.js}"></script>
</head>

<th:block layout:fragment="content">

    <div class="flex center w-100 h-100">
        <div class="grid place_center">
            <div class="m-b-20">
                <h1>환영합니다!</h1>
            </div>
            <div class="flex align_items_center m-b-20">
                <img th:src="@{/upload/images/black.png}" class="main_logo">
                <h1 class="color_red">회원가입이 완료</h1>
                <h2>되었습니다.</h2>
            </div>
            <div>
                <a href="/main"><input type="button" value="메인화면" class="p-20 font_size_larger back_color_grey3"></a>
                <a href="/user/login"><input type="button" value="로그인" class="p-20 font_size_larger back_color_grey"></a>
            </div>
        </div>
    </div>
</th:block>