.cart_btn{
    width: 144px;
    height: 26px;
    line-height: 26px;
    background: #464E2E;
    border: 1px solid #a6937c;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    color: #FFF;
    font-weight: normal;
    font-size: 12px;
    margin-top: 4px;
}

.purchase_btn{
    width: 144px;
    height: 26px;
    line-height: 26px;
    background: #94B49F;
    border: 1px solid #94B49F;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    color: black;
    font-weight: normal;
    font-size: 12px;
    margin-top: 4px;
}

.text_oneline{
    width        : auto;     /* 너비는 변경될수 있습니다. */
    text-overflow: ellipsis;  /* 위에 설정보다 길면 말줄임표처럼 표시합니다. */
    white-space  : nowrap;    /* 줄바꿈을 하지 않습니다. */
    overflow     : hidden;    /* 내용이 길면 감춤니다 */
    display      : block;     /* ie6이상 현재요소를 블럭처리합니다. */
}

.text_multiline{
    text-overflow: ellipsis;
    overflow     : hidden;
    display      : -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}

.best_box{
    width : 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 40px;
    background-color: rgba(239, 239, 239, 0.51);
    margin-bottom: 40px;
    border: 1px solid #e5e5e5;
}

.best_box_info{
    margin-top: 10px;
    width: 350px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
}

.best_box_info > p {
    margin-bottom: 0;
}

.ranknumber {
    font-size: xx-large;
    margin-right: 5px;
}

.number {
    font-size: large;
    margin-right: 5px;
}
