/*detail*/
.bookDetailInfoTable  table, td, th { border-top: 1px solid #7c7b7b; border-bottom:1px solid #7c7b7b;  border-collapse: collapse; width: 900px; }
.bookDetailInfoTable  > tr {display: table-row;}
.bookDetailInfoTable  tr > td { text-align: center;}
.bookDetailInfoTable  tr > th {background-color: #f6f7f8; text-align: center;}

.detail_menu{
    width: 100%; height: 50px; display: flex; align-items: center; justify-content: center;
    border-top: #574b90 1px solid;
    border-bottom: #574b90 1px solid;
}

.padding_box {
    padding: 30px 10px;
}

.border_box2 {
    border-top: 1px solid #a4b0be;
    border-bottom: 1px solid #a4b0be;
}

.border_box { border: solid 2px black;}

.btn_larger { padding: 10px; font-size: larger;}

.order_btn_box{
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.order_PM_btn{
    display: flex;
    /*align-items: center;*/
    /*align-content: center;*/
    /*flex-direction: column;*/
    font-size: 30px;
    /*padding-top: 0px;*/
    /*padding-left: 10px;*/
    /*padding-right: 10px;*/
    /*padding-bottom: 10px;*/
    padding:13px;
    /*margin: 10px;*/
}

.order_btn{
    display: flex;
    flex-direction: column;
}

.order_btn2{
    display: flex;
    margin-top: 20px;
}

.text_width{
    /*margin-left: 10px;*/
    width: 80px;
    text-align: center;
}

.order_btn3{
    display: block;
    position: relative;
    width: 150px;
    height: 51px;
    border-radius: 0;
    border: solid 0 #494949;
    box-sizing: border-box;
    color: black;
    text-align: center;
    background-color: rgb(165, 187, 234);
    font-size: large;
}

.order_btn4{
    display: block;
    position: relative;
    width: 150px;
    height: 51px;
    border-radius: 0;
    border: solid 0 #494949;
    box-sizing: border-box;
    /*color: white;*/
    text-align: center;
    background-color: #786fa6;
    font-size: large;
}



/*new*/
.new_menu {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 5px;
    font-size: medium;
    color: #555555;
    background: #EFEFEF;
    border-top: 2px solid #464E2E;
    border-bottom: 2px solid #464E2E;
}

.clicked { font-weight: bold; font-size:large; color: black;}


.cart_btn{
width: 144px;
height: 26px;
line-height: 26px;
background: #464E2E;
border: 1px solid #a6937c;
box-sizing: border-box;
display: inline-block;
text-align: center;
color: #FFF;
font-weight: normal;
font-size: 12px;
margin-top: 4px;
}

.purchase_btn{
    width: 144px;
    height: 26px;
    line-height: 26px;
    background: #94B49F;
    border: 1px solid #94B49F;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    color: black;
    font-weight: normal;
    font-size: 12px;
    margin-top: 4px;
}

.faq_clicked{
    font-weight: bold;
    color: red;
}

/*하단바*/

.order_box{
    /*margin:5px;*/

    text-align: center;
    font-size:30px;
    line-height: 10px;
    border:solid 1px black;
    position:sticky;
    top:90%;
}

.order_box_btn {
    display: flex;
    float: left;
}

.order_minus_btn{
    height: 45px;
    line-height: 10px;
    border:solid 1px black;
    border-right: 0px;
    border-radius: 10px 0px 0px 10px;
    background-color: white;

}

.order_plus_btn{
    height: 45px;
    line-height: 10px;
    border:solid 1px black;
    border-left: 0px;
    border-radius: 0px 10px 10px 0px;
    background-color: white;

}

.order_qty_input {
    height: 45px;
    line-height: 10px;
    border: solid 1px black;
    border-right: 0px;
    border-left: 0px;
    background-color: white;
}




