<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="temp/thymeleaf_layout">

<head>

    <meta charset="UTF-8">
    <title>bestlist</title>
    <link rel="stylesheet" th:href="@{/css/book/book.css}">
</head>

<th:block layout:fragment="content">
    <div class="m-b-20">
        <div class="flex h-100 center">
            <div class="w-80">
                <div class="grid m-t-20">
                    <h3>베스트 셀러</h3>
                    <div class="m-t-10">
                        <form th:action="@{/book/best}" method="post" th:object="${searchDto}" >
                            <select th:field="*{selectVal}" id="a1" onchange="bookSort(this.value)">
                                <option th:value="new" id="a1_1">최신순</option>
                                <option th:value="popular">인기순</option>
                                <option th:value="price">가격순</option>
                            </select>
                        </form>
                    </div>
                </div>


                <!--todo 한줄에 5개?정도만 들어가고 자동 줄바꿈 반응형으로 만들기!!-->
                <div class="list"> <!-- 리스트 부분 -->
                    <div th:each="list : ${list}" class="border_box3">
                        <div class="flex justify_content_center">
                            <img th:src="${list.cover}"></div>

                            <div th:text="${list.title}"></div>
                            <div th:text="${list.author}" class="color_grey"></div>
                            <div th:text="${list.publisher}" class="color_grey"></div>
                            <div th:text="${list.pubDate}" class="color_grey"></div>

                            <div th:text="${list.description}"></div>


                            <div class="flex">
                                <div>판매가:</div>
                                <h5 th:text="${list.priceStandard}" class="color_red font_bold"></h5>
                            </div>
                            <div class="grid">
                                <input type="button" value="장바구니 담기">
                                <input type="button" value="바로구매">
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        <nav aria-label="Page navigation example flex">
            <ul class="pagination center">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
        </div>
    </div>

    <script src="/js/book/best.js"></script>
</th:block>