<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="temp/thymeleaf_layout">

<head>
    <meta charset="UTF-8">
    <title>bookdetail</title>
    <link rel="stylesheet" th:href="@{/css/book/book.css}">
</head>

<th:block layout:fragment="content">
    <div class="grid place_center">
        <div class="w-80">
            <div class="grid m-t-10 border_box2">
                <div class="flex padding_box justify_content_center back_color_green w-100">
                    <div class="h-20">
                        <img th:src="${list.getCover()}" class="book_img_1823">
                    </div>

                    <div class="gird m-l-30 w-60">
                        <h2 class="font_bold" th:text="${list.getTitle()}"></h2>
                        <div class="flex">
                            <div>저자 : &nbsp;</div>
                            <div class="font_bold" th:text="${list.getAuthor()}">&nbsp</div>
                        </div>
                        <div class="flex">
                            <div> 출판사 : &nbsp; </div>
                            <div class="font_bold" th:text="${list.getPublisher()}"> &nbsp</div>
                            <div> &nbsp; | 출간일 : &nbsp;</div>
                            <div class="font_bold" th:text="${list.getPubDate()}"></div>
                        </div>
                        <!--   TODO 이걸 어케 만들어야할까..리뷰.....리뷰리뷰뷰뷰뷰뷰...      -->

                        <hr>

                        <div class="flex align_items_center ">
                            <div>정가 : &nbsp;</div>
                            <div><h2 class="color_red" th:text="${list.getPriceStandard() +'원'}"></h2></div>
                        </div>
                        <div class="flex align_items_center">
                            <div>배송비 : &nbsp;</div>
                            <div>
                                <h4 th:if="${list.getPriceStandard()>30000}">무료배송</h4>
                                <h4 th:if="${list.getPriceStandard()<30000}">4,000원</h4>
                            </div>
                        </div>
                        <hr>
                    </div>

                    <div class="order_btn_box m-l-30">
                        <div class="order_btn2 center">
                            <div>주문수량</div>
                            <div><input type="text" class="text_width" th:value="1" style="text-align: center"></div>
                        </div>
                        <div class="order_btn center">
                            <div class="m-t-10"><input type="button" value="장바구니 담기"
                                                       class="order_btn3 back_color_blue "></div>
                            <div class="m-t-10"><input type="button" value="바로구매" class="order_btn4 back_color_blue2 ">
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!--            TODO 클릭하면 해당하는 곳으로 스크롤 내려가게...???? -->
            <div class="flex justify_content_center m-t-10 ">
                <div class="detail_menu"><a href="#">저자소개</a></div>
                <div class="detail_menu"><a href="#">책소개</a></div>
                <div class="detail_menu"><a href="#">출판사소개</a></div>

            </div>

            <div class="flex justify_content_center m-t-10 bookDetailInfoTable m-t-20">
                <table>
                    <tr>
                        <th>ISBN</th>
                        <td th:text="${list.getIsbn()}"></td>
                    </tr>
                    <tr>
                        <th>쪽수</th>
                        <td th:text="${list.getSubInfo().getItemPage()}"></td>
                    </tr>
                    <tr>
                        <th>크기</th>
                        <td>
                            <span th:text="${list.getSubInfo().getPacking().getSizeHeight()}"></span> *
                            <span th:text="${list.getSubInfo().getPacking().getSizeWidth()}"></span>&nbsp;&nbsp;
                            <span th:text="${list.getSubInfo().getPacking().getWeight()}"></span>
                        </td>
                    </tr>
                </table>
            </div>

            <!--  //////////////////////////// 책소개 부분 ///////////////////////////-->
            <div class="w-100 flex justify_content_center">
                <div class="w-80 ">
                    <h2 class="m-t-30 border_b_bold" >저자 소개</h2>

                    <div class="grid border_box m-t-20 p-10">
                        <div class="flex back_color_grey4">
                            <h5> 저자 :</h5>
                            <h5 th:text="${list.getSubInfo().getAuthors().get(0).getAuthorName()}"></h5>
                        </div>
                        <div>
                            <h5 th:text="${list.getSubInfo().getAuthors().get(0).getAuthorInfo()}"></h5>
                        </div>
                    </div>


                    <!--  //////////////////////////// 책소개 부분 ///////////////////////////-->
                    <h2 class="m-t-50 border_b_bold ">책소개</h2>
                    <div class="font_bold">이 책이 속한 분야 :  <span th:text="${list.getCategoryName}"></span></div>
                    <div th:text="${list.getDescription() }"></div>
                    <br>
                    <br>

                    <!-- 줄거리 -->
                    <div th:if="${list.getFullDescription() != null and list.getFullDescription() != ''}">
                        <h3 >줄거리</h3>
                        <div th:utext="${list.getFullDescription()}"></div>
                        <br>
                        <br>
                    </div>
                    <div th:if="${list.getFullDescription() == null or list.getFullDescription() == ''}">
                        <h3 >줄거리</h3>
                        <div>* 해당 상품 정보가 없습니다.</div>
                        <br>
                        <br>
                    </div>

                    <!-- 목차부분 -->
                    <div th:if="${list.getSubInfo().getToc() != null and list.getSubInfo().getToc() != ''}">
                        <h3>목차</h3>
                        <div th:utext="${list.getSubInfo().getToc()}"></div>
                        <br>
                        <br>
                    </div>
                    <div th:if="${list.getSubInfo().getToc() == null or list.getSubInfo().getToc() == ''}">
                        <h3>목차</h3>
                        <div>* 해당 상품 정보가 없습니다.</div>
                        <br>
                        <br>
                    </div>

                    <!--  책속으로 -->
                    <div>
                        <h3>책속으로</h3>
                        <div th:each="phrase : ${list.getSubInfo().getPhraseList()}" >
                            <div th:text="${phrase.getPageNo()}"></div>
                            <div th:utext="${phrase.getPhrase()}"></div>
                        </div>
                        <br>
                        <br>
                    </div>




                    <!--  //////////////////////////// 출판사소개 부분 ///////////////////////////-->
                    <div th:if="${list.getFullDescription2() != null and list.getFullDescription2() != ''}">
                        <h2 class="border_b_bold m-t-50" >출판사 소개</h2>
                        <div th:utext="${list.getFullDescription2()}"></div>
                        <br>
                    </div>
                    <div th:if="${list.getFullDescription2() == null or list.getFullDescription2() == ''}">
                        <h2 class="border_b_bold m-t-50" >출판사 소개</h2>
                        <div>* 해당 상품 정보가 없습니다.</div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/book/book.js"></script>

</th:block>
