<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="temp/thymeleaf_layout">

<head>
    <meta charset="UTF-8">
    <title>bookdetail</title>
    <link rel="stylesheet" th:href="@{/css/book/book.css}">
</head>

<th:block layout:fragment="content">
    <div class="grid place_center">
        <div class="w-80">
            <div class="grid m-t-10 border_box2">
                <div class="flex padding_box justify_content_center back_color_green">
                    <div>
                        <img th:src="${list.getCover()}"  class="book_img_1823">
                    </div>

                    <div class="gird m-l-30">
                        <h2 class="font_bold" th:text="${list.getTitle()}"></h2>
                        <div class="flex">
                            <div>저자 : </div>
                            <div class="font_bold" th:text="${list.getAuthor()}">&nbsp </div>
                            <div>| 출판사 :  </div>
                            <div class="font_bold" th:text="${list.getPublisher()}"> &nbsp</div>
                            <div> | 출간일 :  </div>
                            <div class="font_bold" th:text="${list.getPubDate()}"></div>
                        </div>
                        <!--   TODO 이걸 어케 만들어야할까..리뷰.....리뷰리뷰뷰뷰뷰뷰...      -->
                        <div id="star" th:text="${list.getCustomerReviewRank()}"></div>
                        <div id="starin"></div>

                        <script>
                            let reviewStar = document.querySelector('#star');
                            console.log(reviewStar)
                            let starin = document.querySelector('#starin');
                            let i;
                                for( i = 0; i < Number(reviewStar.innerText) ; i++){
                                    starin.append(`★`);
                                    console.log("쿠쿠루삥뽕")
                                }


                        </script>


                        <hr>

                        <div class="flex align_items_center">
                            <div>정가 :</div>
                            <div><h2 class="color_red" th:text="${list.getPriceStandard()}"></h2></div>
                        </div>
                        <div>배송비 : 무료</div>
                        <hr>
                    </div>

                    <div class="order_btn_box m-l-30">
                            <div class="order_btn2 center">
                                <div>주문수량</div>
                                <div><input type="text" class="text_width"></div>
                            </div>
                            <div class="order_btn center">
                                <div class="m-t-10"><input type="button" value="장바구니 담기" class="order_btn3 back_color_blue "></div>
                                <div class="m-t-10"><input type="button" value="바로구매" class="order_btn4 back_color_blue2 "></div>
                            </div>

                    </div>
                </div>
            </div>

<!--            TODO 클릭하면 해당하는 곳으로 스크롤 내려가게...???? -->
            <div class="flex justify_content_center m-t-10 ">
                    <div class="detail_menu"><a href="#">상품정보</a></div>
                    <div class="detail_menu"><a href="#">회원리뷰()</a></div>
                <div class="detail_menu"><a href="#">교환/반품/품절</a></div>

            </div>

            <div class="flex justify_content_center m-t-10 bookDetailInfoTable">
                <table>
                    <tr>
                        <th>ISBN</th>
                        <td th:text="${list.getIsbn13()}"></td>
                    </tr>
                    <tr>
                        <th>쪽수</th>
                        <td> 287쪽</td>
                    </tr>
                    <tr>
                        <th>크기</th>
                        <td>156*215*512mm / 567g</td>
                    </tr>
                </table>
            </div>

            <div>
                <h1 class="m-t-10">책소개</h1>
                <div class="font_bold">이 책이 속한 분야 인문 > 소설</div>

                    <div th:text="${list.getDescription()}"></div>

                <div><h3>줄거리</h3></div>
                <div th:text="${list.getFullDescription()}"></div>

                <hr>

                <h2 class="m-t-10">저자 소개</h2>


                <div class="grid border_box m-t-10 p-10">
                    <div class="flex back_color_grey4">
                        <h5> 저 :</h5>
                        <h5 th:text="${list.getAuthor()}"></h5>
                    </div>
                    <div>
                        <h5 th:text="${list.getSubInfo()}"></h5>
                    </div>

                    <hr>

                    <div class="m-t-10 m-l-10">이 저자의 다른 작품 ></div>
                    <div class="flex justify_space_around m-t-10 m-b-10">
                        <div class="grid">
                            <img th:src="@{/upload/images/XL.jfif}"  class="book_img_1318">
                            <div>아몬드</div>
                            <div class="color_red">18,900원</div>
                        </div>
                        <div class="grid">
                            <img th:src="@{/upload/images/XL (1).jfif}"  class="book_img_1318">
                            <div>돌이킬 수 없는</div>
                            <div class="color_red">17,500원</div>
                        </div>
                        <div class="grid">
                            <img th:src="@{/upload/images/akf.jpg}"  class="book_img_1318">

                            <div>말센스</div>
                            <div class="color_red">19,800원</div>
                        </div>
                        <div class="grid">
                            <img th:src="@{/upload/images/98313676.jpg}"  class="book_img_1318">
                            <div>피프티 피플</div>
                            <div class="color_red">15,500원</div>
                        </div>
                    </div>
                </div>

                <hr>

<!--                <h2 class="m-t-10">줄거리</h2>-->
<!--                <div>-->
<!--                    열여섯 살 소년 선윤재는 ‘감정 표현 불능증’을 앓고 있다. ‘아몬드’라 불리는 편도체가 작아 분노도 공포도 잘 느끼지 못한다. 타고난 침착성, 엄마와 할머니의 지극한 사랑 덕에 별 탈 없이-->
<!--                    지냈지만, 크리스마스이브이던 열여섯 번째 생일날 비극적인 사고가 일어나 가족을 잃는다.-->
<!--                    세상에 홀로 남겨진 윤재 앞에 ‘곤이’가 나타난다. 13년 만에 가족의 품으로 돌아오게 된 곤이는 분노로 가득 찬 아이다. 곤이는 윤재에게 화를 쏟아 내지만, 감정의 동요가 없는 윤재 앞에서-->
<!--                    오히려 쩔쩔매고 만다. 윤재는 어쩐지 곤이가 밉지 않고, 오히려 궁금해진다. 두 소년은 남들이 이해할 수 없는 특별한 우정을 쌓아 간다. 윤재는 조금씩 내면의 변화를 겪는데……. 서로 다른-->
<!--                    이유로 ‘괴물’이라 불리는 두 소년은 세상으로 한 발짝 나아갈 수 있을까?-->
<!--                </div>-->

                <hr>

                <h2 class="m-t-10">디테일 이미지</h2>
                <div>
                    <img th:src="@{/upload/images/detail.jpg}">
                </div>
            </div>
        </div>
    </div>

    <script src="/js/book/book.js"></script>

</th:block>


