<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="temp/thymeleaf_layout">

<head>
    <meta charset="UTF-8">
    <title>bookdlist</title>
    <link rel="stylesheet" th:href="@{/css/book/book.css}">
</head>

<th:block layout:fragment="content">
    <div class="m-b-20">
        <div class="flex h-100 center">
            <div class="w-80">
                <div class="grid m-t-20">
                    <h1>국내도서</h1>
                    <div class="m-t-10">
                        <form action="">
                            <select name="book">
                                <option value="all">소설전체</option>
                                <option value="korea">국내소설</option>
                                <option value="foreign">외국소설</option>
                            </select>
                        </form>
                    </div>
                    <div class="flex m-t-10">
                        <h4 class=" m-r-5">소설전체</h4><div class=" m-r-5">국내소설</div><div>외국소설</div>
                    </div>
                    <hr class="m-t-10">
                    <div class="m-t-10">
                        <form action="">
                            <select name="정렬">
                                <option value="new">최신순</option>
                                <option value="popular">인기순</option>
                                <option value="price">가격순</option>
                            </select>
                        </form>
                    </div>
                </div>

                <!--todo 한줄에 5개?정도만 들어가고 자동 줄바꿈 반응형으로 만들기!!-->
                <div class="list m-t-20"> <!-- 리스트 부분 -->
                    <img th:src="@{/upload/images/XL.jfif}" class="book_img_1318">
                    <img th:src="@{/upload/images/XL.jfif}" class="book_img_1318">
                    <img th:src="@{/upload/images/XL.jfif}" class="book_img_1318">
                    <img th:src="@{/upload/images/XL.jfif}" class="book_img_1318">
                    <img th:src="@{/upload/images/XL.jfif}" class="book_img_1318">
                    <img th:src="@{/upload/images/XL.jfif}" class="book_img_1318">
                    <img th:src="@{/upload/images/XL.jfif}" class="book_img_1318">
                    <img th:src="@{/upload/images/XL.jfif}" class="book_img_1318">
                    <img th:src="@{/upload/images/XL.jfif}" class="book_img_1318">
                    <img th:src="@{/upload/images/XL.jfif}" class="book_img_1318">
                    <img th:src="@{/upload/images/XL.jfif}" class="book_img_1318">
                    <img th:src="@{/upload/images/XL.jfif}" class="book_img_1318">

                </div>
            </div>
        </div>
    </div>
    <script src="/js/book/book.js"></script>

</th:block>


