<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="temp/thymeleaf_layout">

<head>

    <meta charset="UTF-8">
    <title>bookdlist</title>
    <link rel="stylesheet" th:href="@{/css/book/book.css}">
</head>

<th:block layout:fragment="content">
    <div class="m-b-20">
        <div class="flex h-100 center">
            <div class="w-80 m-t-30">
                <h3>신간도서</h3>
                <div class="m-t-50"> <!-- 리스트 부분 -->
                    <div th:each="list : ${list}">
                        <div class="flex m-b-40 center book_box">
                            <div>
                                <!--   숫자 찍어야함 -->
                            </div>
                            <a th:href="@{/book/detail(isbn=${list.isbn})}"><img th:src="${list.cover}" class="book_img_cover"></a>
                            <div class="m-r-30 flex-direc-column container-md">
                                <a th:href="@{/book/detail(isbn=${list.isbn})}"> <h5 th:text="${list.title}" class="font_bold"></h5></a>
                                <div class="flex color_grey" style="flex-wrap: wrap;">
                                    <div th:text="${list.author}"></div>
                                    <div>&nbsp;|&nbsp;</div>
                                    <div th:text="${list.publisher}"></div>
                                    <div>&nbsp;|&nbsp;</div>
                                    <div th:text="${list.pubDate}"> </div>
                                </div>

                                <div th:text="${list.description}" class="m-t-10"></div>
                            </div>

                            <div class="width200p flex-direc-column center">
                                <div class="flex">
                                    <div >판매가:</div>
                                    <h5 th:text="${list.priceStandard +'원'}" class="color_red font_bold"></h5>
                                </div>
                                <div class="flex-direc-column m-2">
                                    <input type="button" value="장바구니 담기" class="cart_btn">
                                    <input type="button" value="바로구매" class="purchase_btn">
                                </div>
                            </div>
                        </div>
                        <div>
                            <hr>
                        </div>
                    </div>

                </div>

                <nav aria-label="Page navigation example flex ">
                    <ul class="pagination center">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>

    <script src="/js/book/new.js"></script>
</th:block>