<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="temp/thymeleaf_layout">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/main/main.css}">
</head>

<th:block layout:fragment="content">
    <div class="w-100 flex justify_content_center">
        <div class="grid w-80">
            <div class="m-t-20 m-b-20"><a href="/book/list">BEST ></a></div>

            <div class="flex">
                <div class="menuDiv">국내도서</div>
                <div class="menuDiv">외국도서</div>
                <div class="menuDiv">화제의신간</div>
                <div class="menuDiv">스테디셀러</div>
            </div>

            <div class="best-list__body flex back_color_purple ">
                <div class="best-list__item">
                    <ul>
                        <li class="flex">
                            <div class="font_bold p_10"> 1 </div>
                            <div class="grid">
                                <div_>
                                    <a href="/book/detail"><img th:src="@{/upload/images/XL.jfif}" class="book_img_1013"></a>

                                </div_>
                                <div class="best-info">
                                    <strong class="best-info__name">아몬드</strong>
                                    <p class="best-info__date">작가/ 출판사</p>
                                    <p class="font_color_red">18,900원</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="best-list__item">
                    <ul>
                        <li class="flex">
                            <div class="font_bold p_10"> 1 </div>
                            <div class="grid">
                                <div_>
                                    <img th:src="@{/upload/images/XL.jfif}" class="book_img_1013">
                                </div_>
                                <div class="best-info">
                                    <strong class="best-info__name">아몬드</strong>
                                    <p class="best-info__date">작가/ 출판사</p>
                                    <p class="font_color_red">18,900원</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="best-list__item">
                    <ul>
                        <li class="flex">
                            <div class="font_bold p_10"> 1 </div>
                            <div class="grid">
                                <div_>
                                    <img th:src="@{/upload/images/XL.jfif}" class="book_img_1013">
                                </div_>
                                <div class="best-info">
                                    <strong class="best-info__name">아몬드</strong>
                                    <p class="best-info__date">작가/ 출판사</p>
                                    <p class="font_color_red">18,900원</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="best-list__item">
                    <ul>
                        <li class="flex">
                            <div class="font_bold p_10"> 1 </div>
                            <div class="grid">
                                <div_>
                                    <img th:src="@{/upload/images/XL.jfif}" class="book_img_1013">
                                </div_>
                                <div class="best-info">
                                    <strong class="best-info__name">아몬드</strong>
                                    <p class="best-info__date">작가/ 출판사</p>
                                    <p class="font_color_red">18,900원</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>






        </div>
    </div>
    <script src="/js/main/main.js"></script>

</th:block>


