
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/html">


<!-- ////////////헤더부분/////////// -->
<th:block th:fragment="header">
  <header>
    <div class="w-100 grid">
      <!--///////로그인, 장바구니 부분////////-->
      <div class="main_first">
                        <span sec:authorize="isAnonymous()">
                            <ul class="flex">
                                <li><a href="/user/login" class="m-r-10" > 로그인 </a></li>
                                <li><a href="/user/join" class="m-r-10"> 회원가입 </a></li>
                            </ul>
                        </span>

        <span sec:authorize="isAuthenticated()" class="flex">
                            <ul class="flex">
                                <li><a href="/user/logout" class="m-r-10">로그아웃</a></li>
                                <li><a href="/user/mypage"><span th:text="${@utils.getLoginUser().getNm()}"></span></a></li>
                            </ul>
                        </span>

        <div><a href="/cart" class="m-r-10"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16">
          <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </svg></a> </div>
      </div>

      <!--//////로고랑 검색창 부분 /검색창 그리드로 바꿔서 창 줄여도 안깨지게 하기///////-->
      <div class="w-100 flex justify_content_center align_items_center">
        <div>
          <a href="/main"><img th:src="@{/upload/images/logo.png}" class="main_logo"></a>
        </div>
        <div class="relative w-50">
          <input name="q" type="text" class="form-control rounded-pill" placeholder="검색어를 입력하세요"
                 aria-label="Recipient's username" aria-describedby="button-addon2" >
        </div>
        <div class="relativeL40">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>
        </div>
      </div>

      <!--/////카테고리 부분////////-->

      <div class="w-100 flex header_menu back_color_blue justify_content_center">
        <ul class="flex main_category">
          <li><a href="#">베스트</a>
            <ul>
              <li><a href="#">스테디 셀러</a></li>
              <li><a href="#">국내</a></li>
              <li><a href="#">외국</a></li>
            </ul>
          </li>
          <li><a href="#">신간도서</a>
            <ul>
              <li><a href="#">금주의 신간</a></li>
              <li><a href="#">이달의 신간</a></li>
            </ul>
          </li>
          <li><a href="#">국내도서</a>
            <ul>
              <li><a href="#">소설</a></li>
              <li><a href="#">시/에세이</a></li>
              <li><a href="#">경제/경영</a></li>
              <li><a href="#">자기 계발</a></li>
              <li><a href="#">인문</a></li>
              <li><a href="#">역사/문화</a></li>
              <li><a href="#">종교</a></li>
              <li><a href="#">정치/사회</a></li>
              <li><a href="#">예술</a></li>
              <li><a href="#">과학</a></li>
              <li><a href="#">기술/공학</a></li>
              <li><a href="#">컴퓨터/IT</a></li>
            </ul>
          </li>
          <li><a href="#">해외도서</a>
            <ul>
              <li><a href="#">서양도서</a></li>
              <li><a href="#">일본도서</a></li>
              <li><a href="#">문학</a></li>
              <li><a href="#">인문/사회</a></li>
              <li><a href="#">유아/아동/청소년</a></li>
              <li><a href="#">경제/경영</a></li>
              <li><a href="#">과학/기술</a></li>
              <li><a href="#">예술/건축</a></li>
              <li><a href="#">생활/요리/건강</a></li>
            </ul>
          </li>
          <li><a href="/cscenter">고객센터</a>
            <ul>
              <li><a href="#">고객센터 안내사항</a></li>
              <li><a href="#">자주 묻는 질문</a></li>
              <li><a href="#">고객문의</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </header>
</th:block>




<!-- ////////////푸터부분/////////// -->

<th:block th:fragment="footer">
  <footer class="text-muted bg-dark py-1">
    <div>
      <p class="mb-1">Spring Boot Board &copy; with Bootstrap!</p>
    </div>
  </footer>
</th:block>





</html>
