<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/html">


<!-- ////////////헤더부분/////////// -->
<th:block th:fragment="header">
    <header>
        <div class="w-100 grid">
            <!--///////로그인, 장바구니 부분////////-->
            <div class="main_first">
                        <span sec:authorize="isAnonymous()">
                            <ul class="flex">
                                <li><a href="/user/login" class="m-r-10"> 로그인 </a></li>
                                <li><a href="/user/join" class="m-r-10"> 회원가입 </a></li>
                            </ul>
                        </span>

                <span sec:authorize="isAuthenticated()" class="flex">
                            <ul class="flex">
                                <li><a href="/user/logout" class="m-r-10">로그아웃</a></li>
                                <li class="m-r-10"><a href="/user/mypage/changeInfo">마이페이지(<span th:text="${@utils.getLoginUser().getNm()}"></span>님)</a></li>
                            </ul>
                        </span>

                <div><a href="/cart" class="m-r-10">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-cart-fill" viewBox="0 0 16 16">
                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                    </svg>
                </a></div>
            </div>

            <!--//////로고랑 검색창 부분 /검색창 그리드로 바꿔서 창 줄여도 안깨지게 하기///////-->
            <div class="w-100 m-b-20">
                <form th:action="@{/book/search}" method="get" th:object="${searchDto}"
                      class=" flex justify_content_center align_items_center" enctype="multipart/form-data" id="search_frm">
                    <div>
                        <a href="/main"><img th:src="@{/upload/images/black.png}" class="main_logo m-r-10"></a>
                    </div>
                    <div class="relative w-50">
                        <input class="form-control me-2" name="searchWord" type="text" aria-label="Search" placeholder="검색어를 입력하세요"
                               style=" border-color: #a492dd; border-radius: 0;">
                    </div>
                    <!--         TODO 자바스크립트로 서브밋태그를 주던가 다시 찾던가 해서 이미지 눌렀을 때 서브밋 처리하기   -->
                    <div id="submit_div" class="relativeL40">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                        </svg>
                    </div>
                </form>
            </div>

            <!--/////카테고리 부분////////-->

            <div class="w-100 flex header_menu justify_content_center">
                <ul class="flex main_category">
                    <li><a href="/book/best">베스트</a>
                        <ul>
                            <li><a th:href="@{/book/best(startIdx=1,SearchTarget='Book')}">국내 베스트</a></li>
                            <li><a th:href="@{/book/best(startIdx=1,SearchTarget='Foreign')}">해외 베스트</a></li>
                        </ul>
                    </li>
                    <li><a href="/book/new">신간도서</a>
                        <ul>
                            <li><a href="/book/new">금주의 신간</a></li>
                        </ul>
                    </li>
                    <li><a th:href="@{/book/list(categoryBookjuck='국내도서%',category='Book')}">국내도서</a>
                        <ul>
                            <li><a th:href="@{/book/list(categoryBookjuck='국내도서>소설%',category='Book')}">소설/시</a></li>
                            <li><a th:href="@{/book/list(categoryBookjuck='국내도서>에세이%',category='Book')}">에세이</a></li>
                            <li><a th:href="@{/book/list(categoryBookjuck='국내도서>자기계발%',category='Book')}">자기 계발</a></li>
                            <li><a th:href="@{/book/list(categoryBookjuck='국내도서>경제경영%',category='Book')}">경제/경영</a></li>
                            <li><a th:href="@{/book/list(categoryBookjuck='국내도서>인문학%',category='Book')}">인문</a></li>
                            <li><a th:href="@{/book/list(categoryBookjuck='국내도서>역사%',category='Book')}">역사</a></li>
                            <li><a th:href="@{/book/list(categoryBookjuck='국내도서>예술/대중문화%',category='Book')}">예술/문화</a></li>
                            <li><a th:href="@{/book/list(categoryBookjuck='국내도서>과학%',category='Book')}">과학/기술공학</a></li>
                            <li><a th:href="@{/book/list(categoryBookjuck='국내도서>컴퓨터/모바일%',category='Book')}">컴퓨터/IT</a></li>
                        </ul>
                    </li>
                    <li><a th:href="@{/book/list(categoryBookjuck='외국도서%',category='Foreign')}">해외도서</a>
                        <ul>
                            <li><a th:href="@{/book/list(categoryBookjuck='외국도서>소설/시/희곡%',category='Foreign')}">소설/시/희곡</a></li>
                            <li><a th:href="@{/book/list(categoryBookjuck='외국도서>예술/대중문화%',category='Foreign')}">예술/대중문화</a></li>
                            <li><a th:href="@{/book/list(categoryBookjuck='외국도서>인문/사회%',category='Foreign')}">인문/사회</a></li>
                            <li><a th:href="@{/book/list(categoryBookjuck='외국도서>컴퓨터%',category='Foreign')}">컴퓨터</a></li>
                            <li><a th:href="@{/book/list(categoryBookjuck='외국도서>어린이%',category='Foreign')}">어린이</a></li>

                        </ul>
                    </li>
                    <li><a href="/cscenter/notice">고객센터</a>
                        <ul>
                            <li><a href="/cscenter/notice">고객센터 안내사항</a></li>
                            <li><a href="/cscenter/faq">자주 묻는 질문</a></li>
                            <li><a href="/cscenter/complaint">1:1 고객문의</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <script src="/js/fragments.js"></script>
</th:block>


<!-- ////////////푸터부분/////////// -->

<th:block th:fragment="footer">
    <footer class="back_color_footer flex-direc-column p-ud-10 m-t-30">
        <div>
            <a href='https://github.com/KownJY' target='_blank'>kwonGithub</a> | &nbsp;
            <a href='https://github.com/kimhyunjung0925' target='_blank'>kimGithub</a> | &nbsp;
            <a href='https://github.com/euneaaa' target='_blank'>paikGithub</a>
        </div>
        <hr class="footer_hr">
        <div class="flex h-100">
            <div class="flex align_items_center m-r-20">
                <img th:src="@{/upload/images/black.png}" class="main_logo m-r-10 ">
            </div>
            <p>
                <span>저자 : 권주영, 김현정, 백은애 </span> <br/>
                <span>이메일 : bookjuck96@gmail.com</span> <br/>
                <span>Copyright &copy; 2022. bookjuckbookjuck. All Rights Reserved.</span>
            </p>
            <div class="m-l-20 flex align_items_center">
                <a href="/cscenter/faq">
                    <input type="button" value="고객센터 바로가기" class="btn_footer"></a>
            </div>
        </div>

    </footer>
</th:block>


</html>
